<!DOCTYPE html>
<html>
  <head>
    <title>Strength Camp Landing Page</title>
    <link rel="stylesheet" href="/style.css">
    <nav></nav>
  </head>
  <body>
    <img src="legend.jpg" width="100%"/>
    <div class="menu">
      <nav>
        <table>
          <tr>
            <td>
              <a href="">Home</a>
            </td>
            <td>
              <a href="">Blog</a>
            </td>
            <td>
              <a href="">Membership</a>
            </td>
            <td>
              <a href="">Training</a>
            </td>
          </tr>
        </table>
      </nav>
    </div>

    <div class="legend"></div>

    <div class="logo">
      <img src="logo.png"/>
    </div>
    <div class="quote">
      <h1>"It's not about what you get, it's about who you are becoming."</h1>
    </div>
    <div class ="container">
      <div class="mission">
        <p>Strength Camp Channel is dedicated to Strength Training, Bodybuilding, Powerlifting, Strongman, Meditation, Yoga and becoming a STRONGER VERSION OF OURSELVES.
        </p>
        <br>
      </div>
        <div class="band">
        <img src='media/1.jpg' id='image' height="1000px" width="675px">
        </div>

        <div class="vision">
        <p>We have a relentless commitment to growing stronger every day, and we empower our brothers and sisters to also strive towards becoming the strongest version of themselves. We grow stronger, and empower others to grow stronger. Period. This is the
          central point of our work. Everything that we do is an echo of this commitment. Our VISION is how we intend to make this mission a reality. It is the HOW, in our minds-eye, we will accomplish our mission!
        </p>
      </div>
    </div>
x
    <footer class="bottom">
    <p>Contact: asdkfjhsadlkfsdf
    asjkdfbdsajhbfjsadbfsadlbfaldsfb</p>
  </footer>
  <footer class="bottom">
    <p>Contact: asdkfjhsadlkfsdf
    asjkdfbdsajhbfjsadbfsadlbfaldsfb</p>
  </footer>
  <script type="text/javascript" src="index.js"></script>
  </body>
  
</html>
