<!DOCTYPE html>
<html>
  <head> 
<link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet">
 <link rel="stylesheet" href="/style.css">
</head>
    

  <body>
    <img src="legend.jpg" width="100%"/>
    <div class="menu">
      <nav>
        <table>
          <tr>
            <td>
              <a href="">Home</a>
            </td>
            <td>
              <a href="">Blog</a>
            </td>
            <td>
              <a href="">Membership</a>
            </td>
            <td>
              <a href="">Training</a>
            </td>
          </tr>
        </table>
      </nav>
    </div>

    <div class="legend"></div>

    <div class="logo">
      <img src="logo.png"/>
    </div>
    <div class="quote">
      <img src="media/lifts.gif" id="dumbells">
      <img src="media/barbell.gif" id="barbell">
      <h1>"It's not about what you get, it's about who you are becoming."</h1>
    </div>
    <div class ="container">
      <div class="mission">
        <p>Strength Camp Channel is dedicated to Strength Training, Bodybuilding, Powerlifting, Strongman, Meditation, Yoga and becoming a STRONGER VERSION OF OURSELVES.
        </p>
        <br>
      </div>
        <div class="band">
          <div class="info">
            <img src='media/1.jpg' id='image' height="200px" width="300px">
            <div class="content">
              <h2>GROW STRONGER</h2>
              <p>WE WANT OUR MEMBERS TO BE THE “STRONGEST VERSION OF THEMSELVES.” WE WANT YOU TO BE THE AUTHOR AND HERO IN YOUR OWN STORY. YOU HAVE A UNIQUE REASON FOR BEING A MEMBER AT STRENGTH CAMP… AND WE HONOR THAT BY HELPING YOU UNCOVER YOUR HIDDEN STRENGTHS AND ABILITIES.

            </p>
            </div>
          </div>
          
        </div>

        <div class="vision">
          <img src='media/woman.jpg'>
          
        <p>We have a relentless commitment to growing stronger every day, and we empower our brothers and sisters to also strive towards becoming the strongest version of themselves. We grow stronger, and empower others to grow stronger. Period. This is the
          central point of our work. Everything that we do is an echo of this commitment. Our VISION is how we intend to make this mission a reality. It is the HOW, in our minds-eye, we will accomplish our mission!
        </p>
      </div>
      <div class="trainers_container">
        <h1>Trainers</h1>
        <img class="trainers_img" src="media/chris.png">
        <img class="trainers_img" src="media/elliot.png">
        <img class="trainers_img" src="media/mark.png">
        <img class="trainers_img" src="media/shannon.png">
        
      </div>

  <script type="text/javascript" src="index.js"></script>
  </body>
  
</html>
