<!DOCTYPE html>
<html>
<head> 
<link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet">
</head>
  <body>
  	<div class="p1">
  		<h1>THE STRENGTH CAMP METHOD</h1>
  		<h2>STRENGTH IS OF BODY, MIND, AND SOUL. AT STRENGTH CAMP, WE HELP GROW STRONGER BODIES… AND WE ALSO AIM TO HONOR YOUR WHOLENESS. WE WANT OUR MEMBERS TO BE “THE STRONGEST VERSION OF THEMSELVES”; BEGINNING WITH THE BODY. OUR THREE-STEP TRAINING PROCESS BEGINS WITH:</h2>
  	</div>

    <div class="structure">
    	<p id="text_overlay">Better Posture, Performance, and Longevity
		We always begin our training phases and daily routines with a healthy dose of joint mobility, flexibility and various dynamic warm-ups. This allows us to address any joint immobility or muscle imbalances you may unknowingly have. A specialized dynamic warm-up always precedes our vigorous workouts.</p>
	</div>
	<div class="strength">
		<p id="text_strength">
			Stronger Core, Lean Muscle and Functional Strength Whether your goal is to burn fat, build muscular shoulders, or slam dunk a basketball, you will need to get stronger. More strength means that you’ll have a firmer, more shapely and vibrant body. You’ll have a body that can overcome any physical force, and looks great to-boot.</p>
	</div>
	<div class="speed">
		<p id="text_speed">
			Fat Loss, Athleticism, Your Specific Goal Attainment “Human beings perform best, when they are trying to attain a goal — no matter what it may be.” – Earl Nightingale</p>
	</div>


	</body>
</html>
